.container {
  display: flex;
}

.content-container {
  flex: 1;
}

.sidebar-container {
  display: block;
  width: 170px;
  height: 100vh;
  background-color: var(--primary-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-image: linear-gradient(#00b5a0, #00c69b);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.logo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 10rem;
}

.logo__text {
  font-size: 20px;
  font-weight: bold;
}

.logo__icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

.sidebar-navigate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navigate-btn {
  padding: 0.8rem 2rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigate-btn.active {
  padding: 0.8rem 2rem;
  border-radius: 10px;
  background-color: var(--active-navigate);
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigate-btn__text {
  font-size: 16px;
  font-weight: bold;
  margin-right: 3px;
}

.navigate-btn__icon {
  display: inline-block;
  width: 22px;
  height: 25px;
}

.user-role {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  position: absolute;
  top: 48px;
  left: 48px;
  color: var(--primary-color);
  width: 6.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transform-title {
  margin-top: 4.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.transform-title__header {
  font-size: 28px;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.3rem;
}

.transform-title__text {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  line-height: 125%;
}

.navigation-section {
  width: 50%;
}

.navigation-options {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
}

.navigation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  font-size: 14px;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

.voice-record {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 16px;
  padding: 0.7rem 1.7rem;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.upload-file {
  background-color: var(--primary-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 16px;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.link {
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 16px;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  border: 1px solid var(--primary-color);
  border-radius: 25px 0 25px 25px;
}

.recording-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--primary-color);
  margin-bottom: 0.8rem;
}

.recording-btn__icon {
  display: inline-block;
  width: 35px;
  height: 50px;
  color: white;
}

.main-section__text {
  color: var(--text-color);
  text-align: center;
  line-height: 150%;
  font-size: 16px;
}

.select-speech {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.selection-desc {
  color: var(--text-color);
}

.speech-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  color: var(--primary-color);
  width: 6.5rem;
  height: 2.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  cursor: pointer;
}

#upload-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  border: 1px solid var(--primary-blue);
  border-radius: 25px;
}

#link-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  border: 1px solid var(--primary-red);
  border-radius: 25px;
}

.upload-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--primary-blue);
  margin-bottom: 0.8rem;
}

.link-input-container {
  direction: ltr;
  display: flex;
  border: 0.5px solid var(--primary-red);
  border-radius: 50px;
  width: 328px;
  height: 46px;
  margin-bottom: 0.8rem;
}

.link-input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: var(--primary-red);
  border-radius: 50%;
  margin: 0.5rem;
}

.link-btn__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
}
