:root {
  --primary-color: #00ba9f;
  --primary-blue: #118ad3;
  --primary-red: #ff1654;
  --active-navigate: #02816e;
  --text-color: #969696;
}
body {
  min-height: 100vh;
}
* {
  font-family: Vazirmatn, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: var(--primary-blue);
  text-decoration: none;
  cursor: pointer;
}
